.ig-section{
    padding:0 0 150px;
    display: flex;
    flex-direction: column;
}

.ig-user__container{
    display: flex;
    justify-content: center;
    align-items: center!important;
    margin: 0 -15px;
    margin: 45px 0;
}

.container-items{
    align-content: center;
    max-width: 100%;
    padding: 0 15px;
    flex-basis: 0;
}

.item-center{
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.ig-logo{
    height: 50px;
    width: 50px;
    color: #212529;
}

.ig-gallery__container{
    /* flex-basis: 0; */
    max-width: 100%;
    /* flex-grow: 1; */
    position: relative;
    width: 100%;
}

.items{
    width: 20%;
    padding-top: 20%;
    position: relative;
    float: left;
    overflow: hidden;
    display: block;
    
}

.items:first-child{
    width: 40%;
    padding-top: 40%;
}
.ig-texto{
    text-decoration: none;
    color: #000;
    transition: all 0.4s ease;
}

.ig-texto h2{
    font-weight: 700;
    margin: 0;
    color: #212529;
}

.ig-texto:hover{
    color: rgba(0, 0, 0, 0.5);
}


.items img{
    position: absolute;
    top: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    padding: 10px;
    opacity: 1;
    cursor: pointer;
    transition: all 0.8s ease;
}

.items img:hover{
    opacity: 0.5;
}